<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Bonus</title>
</head>
<body>
	<h1 layout:fragment="~{header}">Bonus</h1>
	<div layout:fragment="~{content}" class="container">

		<div class="row">
			<div class="col-md-2">
				<b>Customer</b>
			</div>
			<div class="col-md-2"
				th:text="${bonus.customer.firstname}+' '+${bonus.customer.name}"></div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Revenue</b>
			</div>
			<div class="col-md-2"
				th:text="${bonus.revenue}"></div>
		</div>

	</div>
</body>
</html>