<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: common_head(~{::title})}">
	<title>Bonus</title>
</head>

<body th:replace="~{layout :: common_body(~{::h1},~{::#content})}">
	<h1>Bonus</h1>
	<div id="content" class="container">

		<div class="row">
			<div class="col-md-2">
				<b>Customer</b>
			</div>
			<div class="col-md-2" th:text="${bonus.customer.firstname}+' '+${bonus.customer.name}"></div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Revenue</b>
			</div>
			<div class="col-md-2" th:text="${bonus.revenue}"></div>
		</div>

	</div>
</body>

</html>