name: Build and Publish Native Docker Images for Bonus Microservice

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-bonus-native:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16
    - name: Build native bonus microservices with Maven
      run: cd microservice-istio-bonus && mvn -B spring-boot:build-image --file pom.xml
    - name: Log into registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Push image for native microservice bonus
      run: |
        IMAGE_PREFIX=${{ secrets.DOCKER_USERNAME }}
        docker tag microservice-istio-bonus:0.0.1-SNAPSHOT $IMAGE_PREFIX/microservice-istio-bonus-native:1
        docker push $IMAGE_PREFIX/microservice-istio-bonus-native:1